{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Birauta Real Estate and Housing Pvt Ltd  | My Account</title>
{% endblock title %}


{% block main %}

<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common inner-page-top-margin overlay-dark-40"
  data-bg-image="{{ context_profile_image.image.url }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-area">
          <h1>My Profile</h1>
          <ul>
            <li>
              <a href="{% url 'home' %}" >Home</a>
            </li>
            <li>My Profile</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- My Account Area Start Here -->
<section class="my-account-wrap padding-top-10 padding-bottom-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        <ul class="nav nav-tabs my-account-nav">
          <li><a aria-expanded="false" class="active" data-toggle="tab" href="#dashboard">Dashboard</a></li>
          <li><a aria-expanded="false" data-toggle="tab" href="#listings">My Properties</a></li>
          <li><a aria-expanded="false" data-toggle="tab" href="#account-details">Account Details</a>
          </li> 
          <li><a aria-expanded="false" data-toggle="tab" href="#logout">Logout</a></li>
        </ul>
      </div>
      <div class="col-lg-8 col-12">
        <div class="my-account-content tab-content">
          <div class="tab-pane active show" id="dashboard">
            <div class="dashboard">
              <div class="media box-padding media-none--xs">
                <img alt="My About" src="{{request.user.profile.image.url}}"  style="width: 150px;"/>
                <div class="media-body">
                  <h2>
                    {{ request.user.first_name|default:request.user.username }}
                    {% if request.user.last_name %}
                        {{ request.user.last_name }}
                    {% endif %}
                </h2>
                <h3><span>Email :</span> {{ request.user.email }}</h3>
                  <p>{{ request.user.profile.bio|default:"No bio" }}</p>
              </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="listings">
            <div class="listing-box-list">
              {% for  listing in page_obj %}
              <div class="product-box">
                <div class="item-img bg--gradient-50">
                  {% if listing.opening_hours %}
                  <div class="item-status status-open active">{{listing.opening_hours}}</div>
                  {% endif %}                  
                  <img alt="Listing" class="img-fluid list-view-img"
                    src="{{listing.image1.url}}" style="width:300px;"  />
                    <ul class="item-rating">
                      {% for i in "12345"|make_list %}
                          {% if i|add:0 <= listing.average_rating|default_if_none:0 %}
                              <li><i class="fas fa-star"></i></li>  {# Full star #}
                          {% elif i|add:"-1" < listing.average_rating|default_if_none:0 %}
                              <li><i class="fas fa-star-half-alt"></i></li>  {# Half star #}
                          {% else %}
                              <li><i class="far fa-star"></i></li>  {# Empty star #}
                          {% endif %}
                      {% endfor %}
                      <li><span>{{ listing.average_rating|default_if_none:0 }}<span> / 5</span></span> </li>
                  </ul>
                </div>
                <div class="item-content">
                  <h3 class="item-title"> <a href="{% url 'listing_details' listing.id %}">{{listing.business_name}}</a></h3>
                  <ul class="contact-info">
                    <li><i class="fas fa-map-marker-alt"></i>{{listing.street}}, {{listing.city}}</li>
                    <li><i class="far fa-calendar-alt"></i>{{listing.created_at}}</li>
                  </ul>
                  <ul class="meta-item">
                    <li class="item-btn"><a class="btn-fill" style="background:#79f531; border-style:none; color:white;" >{{listing.get_status_display}}</a></li>
                    <li class="item-btn"><a class="btn-fill" href="{% url 'edit_listing' listing.id %}">Edit</a></li>
                    <li class="item-btn"><a class="btn-fill"  href="{% url 'delete_listing' listing.id %}">Delete</a>
                    </li>
                  </ul>
                </div>
              </div>          
              {% endfor %}
               {% if listings %}
              <ul class="pagination-layout1">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}"><i class="flaticon-back"></i></a></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}"><i class="flaticon-right-arrow"></i></a></li>
                {% endif %}
            </ul>
              {% endif %}
            </div>
          </div>   
             <div class="tab-pane fade" id="account-details">
              <form method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="account-details listing-form box-padding">
                 <div class="inner-box">
                  <h3 class="inner-item-heading2">Basic Information</h3>
                  <div class="row">
                    <div class="col-sm-12">
                      <label>Profile Picture(Optional)</label>
                      <div class="form-group">
                        {{form.image}}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label>First Name</label>
                      <div class="form-group">
                        {{form.first_name}}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label>Last Name</label>
                      <div class="form-group">
                        {{form.last_name}}
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <label>Description</label>
                      <div class="form-group">
                        {{form.bio}}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label>Phone(Optional)</label>
                      <div class="form-group">
                        {{form.phone}}

                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label>Website(Optional)</label>
                      <div class="form-group">
                        {{form.website}}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label>Facebook (Optional)</label>
                      <div class="form-group">
                        {{form.facebook}}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label>X(formerly Twitter) (Optional)</label>
                      <div class="form-group">
                        {{form.twitter}}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label>Linkedin (Optional)</label>
                      <div class="form-group">
                        {{form.linkedin}}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label>Skype (Optional)</label>
                      <div class="form-group">
                        {{form.skype}}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label>Pinterest (Optional)</label>
                      <div class="form-group">
                        {{form.pinterest}}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label>Google Plus (Optional)</label>
                      <div class="form-group">
                        {{form.google_plus}}
                      </div>
                    </div>
                    {{form.errors}}
                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="inner-box">
                          <button class="btn-upload" type="submit">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div> 
           
          </div> 
          <div class="tab-pane fade" id="logout">
            <div class="logout box-padding">
              <h2>Logout</h2>
              <p>Are you sure you want to log out?</p>
              <a class="btn-fill" href="{% url 'account_logout' %}" style="background-color: #FF4A52; color: white; padding: 15px 20px; text-decoration: none; border-radius:8px;">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
      var imageUrl = '{{ profile_image_url }}'; 
      $('#img-upload2').css('background-image', 'url(' + imageUrl + ')');
      $('#img-upload2').css('background-size', 'contain');

  });
  </script>

{% endblock main %}

