{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Birauta Real Estate and Housing | Home</title>
{% endblock title %}

{% block main %}

<section class="main-banner-wrap-layout1 bg-common overlay-dark-30 bg--gradient-top-30"
    data-bg-image="{{ home_hero_image.image.url }}">
    <div class="container">
        <div class="main-banner-box-layout1">
            <p class="item-sub-title">Find your next property with </p>
            <h1 class="item-title">Birauta Real Estate and Housing</h1>
            <form class="category-search-form" id="category-search-form" method="get" action="{% url 'listing' %}">
                <ul class="form-items">
                    <li>
                        <div class="input-group stylish-input-group">
                            {{heroform.business_name}}
                            <span class="input-group-addon">
                                <button>
                                    <i class="flaticon-search"></i>
                                </button>
                            </span>
                            <div class="help-block with-errors"></div>
                        </div>
                    </li>
                    <li>
                        <div class="input-group stylish-input-group" style="text-align: left; margin-bottom:50px;">
                            {{ heroform.business_category }}
                        </div>
                    </li>
                    <li>
                        <div class="form-group mb-0">
                            <button class="item-btn" type="submit" style="height:58px;">Search</button>
                        </div>
                    </li>
                </ul>
            </form>
            <ul class="item-ctg">
                {% for category in  pin_categories %}
                <li style="margin-right:20px;">
                    <a href="{% url 'listing' %}?business_category={{ category.id }}">
                        <img class="item-icon" src="{{ category.logo.url }}" alt="{{ category.name }}" style="width: 80px; height: 80px;">
                    </a>
                    <a class="ctg-title" href="{% url 'listing' %}?business_category={{ category.id }}">
                        {{category.name}}
                    </a>
                </li>
            {% endfor %}
                <li class="d-none d-lg-block">
                    <p>Or Browse The Highlights</p>
                    <div class="item-img">
                        <img alt="Arrow" src="{% static 'base/img/figure/arrow.png' %}" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Main Banner Area End Here -->
<!-- Feature Area Start Here -->
<section class="listing-wrap-layout1 padding-top-9p6 padding-bottom-7 bg--light">
    <div class="container">
        <div class="section-heading heading-dark heading-center">
            <div class="item-sub-title">Find the next property that you want to purchase</div>
            <h2 class="item-title">New Properties in Our Website</h2>
        </div>
        <div class="row" id="no-equal-gallery">
            {% for listing in listings %}
            <div class="col-xl-4 col-lg-6 col-md-6 col-12 no-equal-item">
                <div class="listing-box-grid">
                    <div class="product-box border-box">
                        <div class="item-img bg--gradient-50">
                            <div class="item-status status-open active">{{listing.opening_hours}}</div>
                            {% comment %} <div class="item-status status-save">Save 15%</div> {% endcomment %}
                            <img alt="Listing" class="img-fluid grid-view-img"
                              src="{{listing.image1.url}}" />
                            <img alt="Listing" class="img-fluid list-view-img"
                              src="{{listing.image1.url}}" />
                              <ul class="item-rating">
                                {% for i in "12345"|make_list %}
                                    {% if i|add:0 <= listing.average_rating|default_if_none:0 %}
                                        <li><i class="fas fa-star"></i></li>  {# Full star #}
                                    {% elif i|add:"-1" < listing.average_rating|default_if_none:0 %}
                                        <li><i class="fas fa-star-half-alt"></i></li>  {# Half star #}
                                    {% else %}
                                        <li><i class="far fa-star"></i></li>  {# Empty star #}
                                    {% endif %}
                                {% endfor %}
                                <li><span>{{ listing.average_rating|default_if_none:0 }}<span> / 5</span></span> </li>
                            </ul>
                          </div>
                          <div class="item-content"> 
                            <h3 class="item-title"><a href="{% url 'listing_details' listing.id %}">{{listing.business_name}}</a></h3>
                            <p class="item-paragraph">{{listing.description|truncatewords:10|safe}}
                            </p>
                            <ul class="contact-info">
                              <li><i class="fas fa-map-marker-alt"></i>{{listing.street}},{{listing.city}}</li>
                            </ul>
                            <ul class="meta-item">
                              <li class="item-btn"><a class="btn-fill" href="{% url 'listing_details' listing.id %}">Details</a></li>
                              <li class="ctg-name"><a ><img alt="Logo" style="width: 40px; margin-right: 5px;" src="{{ listing.subcategory.first.category.logo.url }}" />{{ listing.subcategory.first.category.name }}, {{ listing.subcategory.first.name }}</a></li>
                              <li class="entry-meta">
                                <ul>
                                  <li class="tooltip-item ctg-icon" data-tips="{{ listing.subcategory.first.category.name }}"><a style="border: none;"><img alt="Logo" src="{{ listing.subcategory.first.category.logo.url }}" /></a></li>
                                  {% comment %} <li class="tooltip-item" data-tips="My Favourite"><a href="#"><i
                                        class="fas fa-heart"></i></a></li> {% endcomment %}
                                  <li class="tooltip-item" data-tips="Gallery"><a href="#"><i class="far fa-image"></i></a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Feature Area End Here -->
<!-- Category Area Start Here -->
<section class="category-wrap-layout1 padding-top-9p6 padding-bottom-7 overlay-dark-70 parallaxie bg--dark"
    data-bg-image="{{ home_main_image.image.url }}">
    <div class="container">
        <div class="section-heading heading-light heading-center">
            <div class="item-sub-title">Explore some of the best properties by categories</div>
            <h2 class="item-title">What are you interested in?</h2>
        </div>
        <div class="row">    
            {% for category in categories %}
                <div class="col-lg-3 col-md-6">
                    <div class="category-box-layout1" style="cursor: pointer;" onclick="document.getElementById('category-form-{{ category.id }}').submit()">
                        <form id="category-form-{{ category.id }}" method="get" action="{% url 'listing' %}">
                            <input type="hidden" name="business_category" value="{{ category.id }}">
                            <div>
                                <img src="{{ category.logo.url }}" alt="{{ category.name }}" style="width:50px !important;">
                            </div>
                            <h3 class="item-title">{{ category.name }}</h3>
                            <div class="listing-number">{{ category.total_listing }} Properties</div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> 
</section>
<!-- Category Area End Here -->


{% if blogs %}
<section class="blog-wrap-layout1 padding-bottom-7 bg--light">
    <div class="container">
        <div class="section-heading heading-dark heading-center">
            <div class="item-sub-title">Browse the latest articles and tips from our blog</div>
            <h2 class="item-title">Tips &amp; Articles</h2>
        </div>
        <div class="row">
            {% for blog in blogs %}   
            <div class="col-md-6">
                <div class="blog-box-layout1">
                    <div class="post-thumb">
                        <a href="{% url 'blog_details' blog.id %}"><img alt="Blog" class="img-fluid"
                            src="{{ blog.image.url }}"  /></a>
                    </div>
                    <div class="post-content">
                        <ul class="entry-meta">
                            <li><a class="entry-date">{{blog.created_at }}</a> .
                                {{blog.category.name}}
                            </li>
                        </ul>
                        <h3 class="post-title"><a href="{% url 'blog_details' blog.id %}">{{blog.title}}</a></h3>
                        <div class="content">
                            <p>{{blog.body|truncatewords:20|safe}}</p>
                        </div>
                        <a class="btn-text size-sm color-dark hover-primary btn-icon"
                            href="{% url 'blog_details' blog.id %}">Read
                            More<i class="item-icon fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}   
        </div>
    </div>
</section>
{% endif %}
<!-- Blog Area End Here -->

{% endblock main %}